@use '../colors.scss' as colors;

.wrapper {
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  margin: 0 auto;

  .burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .menu {
      color: colors.$dark-grayish-blue;

      &:hover {
        color: colors.$black;
        cursor: pointer;
      }
    }
    .logo {
      font-size: 3.5rem;
      font-family: 'Kumbh Sans', sans-serif;
      font-weight: 700;
      line-height: 3rem;
      top: -5px;
      position: relative;
    }
  }

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .cartItems {
      position: relative;

      .cart {
        color: colors.$dark-grayish-blue;
        &:hover {
          color: colors.$black;
          cursor: pointer;
        }
      }
      .bubble {
        position: absolute;
        top: 0;
        right: 0;
        background-color: colors.$orange;
        width: 14px;
        height: 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        .counter {
          font-family: 'Kumbh Sans', sans-serif;
          font-size: 0.8rem;
          font-weight: 700;
          text-align: center;
          color: colors.$white;
        }
      }
    }
    .avatar {
      width: 35px;
      height: 35px;
      &:hover {
        width: 35px;
        height: 35px;
        border: solid 2.5px colors.$dark-grayish-blue;
        border-radius: 100%;
        scale: 1.1;
      }
    }
  }
}

button {
  appearance: none;
  border: unset;
  background-color: transparent;
  padding: 0;
  height: 35px;
}
