@use '../colors' as colors;

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: colors.$white;
  width: 150px;
  height: 100vh;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  z-index: 1;

  button {
    appearance: none;
    border: unset;
    padding: 0;
    background-color: transparent;

    .close {
      width: 12px;
      height: 12px;
      color: colors.$dark-grayish-blue;
      path {
        scale: 0.6;
      }
      &:hover {
        color: colors.$black;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      font-family: 'Kumbh Sans', sans-serif;
      font-weight: 700;
      color: colors.$black;
      font-size: 1.2rem;
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
