@use '../colors' as colors;

.wrapper {
  font-family: 'Kumbh Sans', sans-serif;
  padding: 2rem;
  @media (min-width: 1024px) {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .company {
    color: colors.$orange;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .product {
    color: colors.$black;
    font-weight: 700;
    font-size: 2.8rem;
    @media (min-width: 1024px) {
      font-size: 4.8rem;
    }
  }

  .description {
    color: colors.$dark-grayish-blue;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;

    @media (min-width: 1024px) {
      width: 50ch;
    }
  }

  .prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .price {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .finalPrice {
        color: colors.$black;
        font-weight: 700;
        font-size: 2.8rem;
      }

      .reduction {
        color: colors.$orange;
        background-color: colors.$pale-orange;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 0.4rem;
        border-radius: 4px;
      }
    }

    .originalPrice {
      color: colors.$dark-grayish-blue;
      text-decoration: line-through;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  .actions {
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    .selector {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: colors.$light-grayish-blue;
      border-radius: 4px;
      padding: 1rem 0.6rem;
      @media (min-width: 1024px) {
        gap: 4rem;
      }

      button {
        appearance: none;
        border: unset;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: unset;

        .select {
          color: colors.$orange;
        }
      }

      .indicator {
        color: colors.$black;
        font-weight: 700;
        font-size: 1.6rem;
      }
    }

    .add {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: colors.$orange;
      border: unset;
      border-radius: 4px;
      padding: 2.8rem;
      .title {
        color: colors.$white;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      .cart {
        color: colors.$white;
      }
    }
  }
}
